<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <logger name="com.stock.batch.service.StockPriceCollectionService" level="OFF" />
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger -- %msg%n</pattern>
        </encoder>
    </appender>
</configuration>
